@use "../utils/variables";
@use "../utils/mixins";

// Menu section background color
.menu {
    background-color: variables.$section-background-color-light;
    padding: 0 15px;
}

// Menu heart position

.menu__heart {
    position: relative;
    right: 50px;
}

// Menu items style

.menu__text {
    padding-left: 15px;
}

.menu h1,
.entrees h2 {
    margin-top: 0;
}

.plats h2,
.desserts h2 {
    margin-top: 50px;
    @include mixins.computer-screens {
        margin-top: initial;
    }
}

.menu__item {
    margin-top: 15px;
}

// Tablet and computer versions

.menus__container {
    @include mixins.computer-screens {
        display: flex;
        justify-content: space-around;
        gap: 25px;
    }
}

.entrees, .plats, .desserts {
    @include mixins.computer-screens {
        flex: 1;
        min-width: 0;
    }
}

// Validation button position

.menu__btn-validatation {
    display: flex;
    justify-content: center;
    padding: 25px 0 50px 0;
}