.banner {
    position: relative;
    background-image: url("/public/images/restaurants/large/a-la-francaise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
  }
  
  .banner::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $section-background-color-light;
    height: 20%;
  }

  // TO DO : Set different size according to screen size.