// Global styles

.banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
  }
  
  .banner::after {
    content: '';
    border-top-left-radius: 20% 100%;
    border-top-right-radius: 20% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $section-background-color-light;
    height: 10%;
  }

  // Specific styles

  .banner-note-enchantee {
    background-image: url("../../../public/images/restaurants/large/la-note-enchantee.jpg");
  }

  .banner-a-la-francaise {
    background-image: url("../../../public/images/restaurants/large/a-la-francaise.jpg");
  }

  .banner-la-palette-du-gout {
    background-image: url("../../../public/images/restaurants/large/palette-du-gout.jpg");
  }

  .banner-le-delice-des-sens {
    background-image: url("../../../public/images/restaurants/large/le-delice-des-sens.jpg");
  }