@use "../utils/variables";

.loading-screen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: loading 1s forwards;
    animation-delay: 3s;
}

.loading-spinner {
    position: fixed;
}

.loading-spinner:after {
    content: "";
    display: block;
    width: 225px;
    height: 225px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: variables.$primary-color transparent variables.$secondary-color transparent;
    animation: loading-spinner 1.2s linear infinite;
  }

  .loading-spinner:before {
    content: "Ohmyfood!";
    position: absolute;
    font-size: 2rem;
    left: 33px;
    top: 45%;
    font-family: variables.$logo-title;
  }
@keyframes loading-spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}