@use "../utils/mixins";

// Stlye of the menu items
.entrees__item, .plats__item, .desserts__item {
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    @include mixins.shadow-border;
} 

.entrees__price, 
.plats__price,
.desserts__price {
    margin-left: 15px;
    font-weight: bold;
    position: relative;
    top: 45px;
    right: 15px;
} 