.menu__item {
    opacity: 0;
}

.menu__item:first-of-type {
    animation: fadeInUp 1s 1s forwards;
}

// longhand version :
// .menu__item:first-of-type {
//  animation-name: fadeInUp;
//  animation-duration: 1s;
//  animation-delay: 1s;
//  animation-fill-mode: forwards;
//}

.menu__item:nth-of-type(2) {
    animation: fadeInUp 1s 1.2s forwards;
}

.menu__item:nth-of-type(3) {
    animation: fadeInUp 1s 1.3s forwards;
}

.menu__item:nth-of-type(4) {
  animation: fadeInUp 1s 1.4s forwards;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate(0, 40%);
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }