@use "../utils/mixins";
@use "../utils/variables";

.restaurants__item {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: white;
    @include mixins.shadow-border;
    transition: 0.4s;
    backface-visibility: hidden; // For rendering improvements
    &:hover {
        transform: scale(1.06) translate3d(0,0,0); // transform: translateZ(0); for rendering improvements (add hardware acceleration to the animation) 
    }
    @include mixins.tablet-screens {
        flex: 1 1 350px;
    }
}


.restaurants__item figure {
    margin: 0;
}

.restaurant__img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.restaurants__label {
    padding-left: 15px;
    padding-bottom: 25px;
}



/* Nouveauté restaurant */

.restaurants__item_new::before {
    content: "Nouveau";
    text-align: center;
    height: 25px;
    padding: 5px 10px 0 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #008766;
    font-weight: bold;
    background-color: variables.$tertiary-color;
}

/* Heart position */

.restaurants__heart {
    position: absolute;
    right: 50px;
    bottom: 75px;
    @include mixins.tablet-screens {
        bottom: 50px;
    }
}