@use "sass:color";
@use "sass:map";
@use "variables";

////////////////////////
// Box-shadow mixins //
//////////////////////

@mixin shadow-border {
    box-shadow: 3px 3px 5px rgb(223, 223, 223), -3px 3px 5px rgb(228, 228, 228);
}

///////////////////
// Color mixins // 
/////////////////


// Changes the color of the text according to the background color.
@mixin background-text-color($background-color) {
    background-color: $background-color;
    @if (color.lightness($background-color) < 50%) {
        color: white;
    }
    
    @else{
        color: black;
        }
    }


// Changes the color of the logo according to the background color
@mixin background-logo-color($background-color) {
    background-color: $background-color;
    @if (color.lightness($background-color) < 50%) {
        .logo path {
            fill: white;
        }
    }
    
    @else{
        .logo path {
            fill: black;
        }
    }
  }

////////////////////////
// Responsive mixins //
//////////////////////

// Tablet version

@mixin tablet-screens {
    @media (min-width: map.get(variables.$breakpoints, tablet)) {
        @content;
    }
}

// Desktop version

@mixin computer-screens {
    @media (min-width: map.get(variables.$breakpoints, computer)) {
        @content;
    }
}