// Color variables
$violet: #9356DC;
$rose: #FF79DA;
$bleu: #99E2D0;
$gris-clair: #f6f6f6;
$gris-fonce: #353535;


// Color configs
$primary-color: $violet;
$secondary-color: $rose;
$tertiary-color: $bleu;

$section-background-color-light: $gris-clair;
$section-background-color-dark: $gris-fonce;