/* Fonctionnement section */

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 30px 15px;
}

.fonctionnement__item {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $section-background-color-light;
    box-shadow: 3px 3px 5px rgb(148, 148, 148), -3px 3px 5px rgb(148, 148, 148);
    height: 45px;
    border-radius: 15px;
}

.fonctionnement__item::before {
    content: "";
    text-align: center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -15px;
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
}

.fonctionnement__item:first-of-type::before {
    content: "1";
}

.fonctionnement__item:nth-of-type(2)::before {
    content: "2";
}

.fonctionnement__item:nth-of-type(3)::before {
    content: "3";
}

.fonctionnement__container {
    @include tablet-screens {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}