/* Footer section */

footer {
    @include background-text-color($section-background-color-dark);
    @include background-logo-color($section-background-color-dark);
    padding: 25px 20px;
    @include tablet-screens {
        text-align: center;
        padding: 25px 0;;
    }
}

footer .logo {
    width: 110px;
    height: auto
}

footer a {
    @include background-text-color($section-background-color-dark);
    &:hover {
        border-bottom: 1px solid $tertiary-color;
    }
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 0;
    @include computer-screens {
        flex-direction: row;
        justify-content: space-around;
    }
}