@use "../utils/mixins";
@use "../utils/variables";

/* Footer section */

footer {
    @include mixins.background-text-color(variables.$section-background-color-dark);
    @include mixins.background-logo-color(variables.$section-background-color-dark);
    padding: 25px 20px;
    @include mixins.tablet-screens {
        text-align: center;
        padding: 25px 0;;
    }
}

footer .logo {
    width: 110px;
    height: auto
}

footer a {
    @include mixins.background-text-color(variables.$section-background-color-dark);
    &:hover {
        border-bottom: 1px solid variables.$tertiary-color;
    }
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 0;
    @include mixins.computer-screens {
        flex-direction: row;
        justify-content: space-around;
    }
}