.hero {
    text-align: center;
}

.hero__location {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.cta {
    background-color: #f6f6f6;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
