/* Hero section */

.hero {
    text-align: center;
}

.hero__location {
    padding: 10px 0;
    background: linear-gradient(#dadada, #e8e8e8 15%, #eaeaea 5%, #eaeaea 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.cta {
    background-color: $section-background-color-light;
    margin-top: 0;
    padding: 50px 20px;
}

.cta__subtitle {
    margin-bottom: 50px;
}