// Menu header
.menu-header {
    padding: 25px 0 15px 0;
}

.return-index {
    position: absolute;
    left: 15px;
    font-size: 25px;
}

.menu__head {
    display: flex;
    justify-content: space-between;
}