/* Global typography */

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* index page typography */



.cta__subtitle {
    font-weight: lighter;
}

/* Menu pages typography */

.menu h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: $tertiary-color;
}

// majuscule...